<div class="agendar">
    <button  type="button" class="btn btn-primary btn-lg" (click)="openModal(template)">Agendar Horário</button>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Qual horario quer usar a sala?</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>